/* Style the header */
.header {
  padding: 10px 10px;
  background: #FF99FF;
  color: #FFFFFF;
  font-size: 30px;
}
.dropdown {
  float:left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 30px; 
  border: none;
  outline: none;
  color: blue;
  padding: 15px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover;
.navbar a:active;
.dropdown:active;
.dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7FFFD4;
  font-size: 18px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  position:relative;
  color: black;
  padding: 0.03% 10%;
  text-decoration: none;
  display: block;
  text-align: left;
  back-ground:7FFFD4;
}

/* Add a grey background color to dropdown links on hover */

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
table,th,td{
  border: 1px solid black;
}
/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
@media (max-width:768px)  { 
  .dropdown-content{width: 40%; font-size: 14 px;}
}
@media (min-width:769px)
    .dropdown-content{{width:30%; font-size: 18px;}}